logs/
cache/
*.log
crash-reports/
usercache.json
banned-ips.json
banned-players.json
ops.json
whitelist.json
world/playerdata/
world/stats/
world/advancements/
world_nether/playerdata/
world_nether/stats/
world_the_end/playerdata/
world_the_end/stats/
plugins/*/data/
run.bat
*.jar.old
versions/
libraries/
*.iml
.idea/
target/
.vscode/
